@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lato',sans-serif;
    overflow-x: hidden;
    background: url('https://i.ibb.co/DzZyM1v/hotel.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(12px);
}


.container{
    max-width: 1100px;
    width: 900px;
    padding: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3E2622;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgba(0,0,0,0.4);
}


        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
    

    .right-side{
        flex: 2;
        text-align: left;
        padding: 0 5rem 0 2rem;
        color: #fff;
        margin: 0;
    }

        h4{
            opacity: 0.5;
            margin: -0.8rem 0 1.2rem 0;
        }

        ul{
            margin-top: 3rem;
            padding: 0;
            list-style: none;
        }

            li{

                margin: 2.5rem 0;
            }

                p{
                    opacity: 0.5;
                }

                h3{
                    margin: -0.5rem 0;
                }

        .btn{
            border: none;
            outline: none;
            background-color: #301D19;
            color: #fff;
            padding: 1rem;
            width: 100%;
            font-size: 1rem;
            border-radius: 1rem;
            margin-top: 1rem;
            cursor: pointer;
        }

            .btn:hover{
                background-color: #f3f3f3;
                color: #3E2622;
                transition: 0.4s ease all;
            }
        

