/* You can add global styles to this file, and also import other style files */
body{
  background-image: url(https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?w=4&h=4&fit=crop);
  background-repeat: no-repeat;
  background-size: cover;
}