@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lobster&family=Montserrat&family=Open+Sans:ital,wght@1,300&family=Rowdies&display=swap');

.container{
  background-image:url();
  background-repeat: no-repeat;
  background-size: cover;
  height:60vh;
  position:relative;
  top:30%;
  /* width: 50vw; */
  /* background-color: blue; */
}

img{
  border-radius: 70%;
}


h1{
  font-family: 'Fredoka One', cursive;
  color:  #3a3a3b;
  text-shadow: 1px 1px #faf6f6;
}

