
<div class="container align-items-center mt-5">
  <!--  -->


    <div class="container w-50 ml-0 mr-0 mx-auto text-center">
      <img src="https://octodex.github.com/images/NUX_Octodex.gif" alt="" height="20%">
      <br><br>
      <h1>GIT SEARCH</h1>
      <!-- <nav class="navbar navbar- bg-info justify-content-center"> -->
      
      <form class="" (ngSubmit)="submitForm(userName)">
        <input
          class="form-control me-3"
          type="search"
          placeholder="Search"
          aria-label="Search"
          name="userName"
          
          [(ngModel)]="userName"
          
        /> 
        <br>
        <a href="#kode"><button class="btn btn-info" type="submit">Search Github User or Repositories</button>
        </a>
      </form>
    
    </div>


  <!--  -->



</div>


 